<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Sports Leagues</title>
</head>
<body>
    {% for list_ in lists %}
        <h1>{{ list_.title }}</h1>
        {% if list_.type == "Players" %}
            <ol>
                {% for player in list_.expression %}
                    <li>{{ player.first_name }} {{ player.last_name }}</li>
                {% endfor %}
            </ol>
        {% elif list_.type == "Teams" %}
            <ol>
                {% for team in list_.expression %}
                    <li>{{ team.location }} {{ team.team_name }}</li>
                {% endfor %}
            </ol>
        {% elif list_.type == "Leagues" %}
            <ol>
                {% for league in list_.expression %}
                    <li>{{ league.name }}</li>
                {% endfor %}
            </ol>
        {% else %}
            Error with {{ list_.title }}: invalid type
        {% endif %}
    {% endfor %}
    <h1>All Players/Count of teams played for</h1>
    <h3>sorted by the number of teams they've played for</h3>
    <table>
        <thead>
            <th>Number of Teams</th>
            <th>Player Name</th>
        </thead>
        <tbody>
            {% for player in last_list %}
                <tr>
                    <td>{{ player.teams }}</td>
                    <td>{{ player.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>